* {
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}
body {
    background-color: lightgray;
}

.header {
    font-family: monospace;
    padding: 20px;
    background-color: rgb(36, 36, 36);
    position: relative;
}

.header h1 {
    display:inline-block;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: absolute;    
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: monospace;
    font-size: 20px;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display:inline-block;
    margin-left: 25px;
}

.coding {
    height: 150px;
    width: 100%;
    background-image: url("./images/coding-photo.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    border-left: 4px solid black;
    margin-left: 400px;
}
h2 {
    font-size: 50px;
    text-align: left;
    margin-left: 60px;
    margin-top: 50px;
}
.card {
    flex: 1 0 0;
    padding: 10px;
    border-width: 1px;
    margin-left: 1px;
    
}
p {
    padding: 10px;
    border-left: 4px solid black;
    margin-left:  400px;
    position: inline-block; 
    font-size: 20px;
    margin-top: -60px;
    
}
a {
    text-decoration: none;
    color: white;
    
}


